


<div>
  <h2 style="text-align: left;color: black;">Risultati Periodo</h2>
  <tabset>
    <tab heading="Cx" id="tab1"><div id="cx"></div> 
    </tab>
    <tab heading="Ingressi"><div id="ingressi"></div>
    </tab>
    <tab heading="Incasso">  <div id="incasso"></div>
    </tab>
    <tab heading="Scontrino" >
       <div id="scontrino"></div> 
    </tab>
    <tab heading="Incasso/Ingressi" >
        <div id="incassoIngressi"></div>
 
    </tab>
    <tab heading="Ingressi/Meteo">
        <div id="ingressiMeteo"></div> 
    </tab>
  </tabset>
</div>


 
