.container{
    max-width: 100%;
    height: 500px;
}

 #cx4 {
    width: 100%;
    height: 400px;
}

#ingressi4 {
    width: 100%;
    height: 400px;
}
#incasso4 {
    width: 100%;
    height: 400px;
}
#scontrino4 {
    width: 100%;
    height: 400px;
}

#ingressiMeteo4 {
    width: 100%;
    height: 400px;
} 


/* ng-template {
    width: 100%;
    height: 300px;
} */