
<div class="container">
    <h2 style="text-align: center;color: black;">Distribuzione Media Settimanale</h2>

    <tabset>
      <tab heading="Cx" id="tab1"><div id="cx4"></div> 
      </tab>
      <tab heading="Ingressi"><div id="ingressi4"></div>
      </tab>
      <tab heading="Incasso">  <div id="incasso4"></div>
      </tab>
      <tab heading="Scontrino" >
         <div id="scontrino4"></div> 
      </tab>
     
      <tab heading="Ingressi/Meteo">
          <div id="ingressiMeteo4"></div> 
      </tab>
    </tabset>
  </div>