<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Comparison Reparti</div>
    <app-linechart></app-linechart>
    <div class="row  border">
      <div class="col-6">
          <comparison-reparti-graph1></comparison-reparti-graph1>
      </div>
      <div class="col-6">
          <comparison-reparti-graph1></comparison-reparti-graph1>
      </div>
  </div>      
</div>
    <!-- <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center"> -->
        
  