.container{
    width: 100%;
    height: 250px;
}

#ingressiKpi2 {
    width: 100%;
    height: 100px;
}
#incassoKpi2 {
    width: 100%;
    height: 100px;
}
#scontriniKpi2 {
    width: 100%;
    height: 100px;
}
#scontrinoMedioKpi2 {
    width: 100%;
    height: 100px;
}
#conversionRateKpi2 {
    width: 100%;
    height: 100px;
}
#resaMqKpi2 {
    width: 100%;
    height: 100px;
}