.container{
    width: 100%;
    height: 500px;
}

#cx21 {
    width: 100%;
    height: 400px;
}

#ingressi21 {
    width: 100%;
    height: 400px;
}
#incassoIngressi21 {
    width: 100%;
    height: 400px;
}
#incassoCro21 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio21 {
    width: 100%;
    height: 400px;
}

