<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quick View</div>
    <app-linechart></app-linechart>

    <div class="page__content shadow p-3 position-relative">
      <div class="row ">
        <div class="col-sm-6 border  ">
            <punti-esperienza-kpi></punti-esperienza-kpi>
        </div>
        <div class="col-sm-6 border  ">
            
        </div>
    </div>      
      <app-kpi-prova></app-kpi-prova>

      <div class="page__content-data position-absolute text-center">
      </div>
    </div>
  </div>