<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Comparison</div>
        <div class="container">
          <div class="row ">
            <div class="col-sm-6 border-right  ">
                <kpi-sodisfazione1></kpi-sodisfazione1>
            </div>
            <div class="col-sm-6   ">
                <kpi-sodisfazione2></kpi-sodisfazione2>
            </div>
        </div>

          <div class="row ">
            <div class="col-sm-6 border  ">
                <kpi-economici1></kpi-economici1>
            </div>
            <div class="col-sm-6 border  ">
                <kpi-economici2></kpi-economici2>
            </div>
        </div>

            <div class="row ">
                <div class="col-sm-6 border  ">
                    <periodo-comparison1></periodo-comparison1>
                </div>
                <div class="col-sm-6 border  ">
                    <periodo-comparison4></periodo-comparison4>
                </div>
            </div>

            <div class="row ">
              <div class="col-sm-6 border  ">
                  <periodo-comparison2></periodo-comparison2>
              </div>
              <div class="col-sm-6 border  ">
                  <periodo-comparison5></periodo-comparison5>
              </div>
          </div>
          <div class="row ">
            <div class="col-sm-6 border  ">
                <periodo-comparison3></periodo-comparison3>
            </div>
            <div class="col-sm-6 border  ">
                <periodo-comparison6></periodo-comparison6>
            </div>
        </div>
        </div>








<!-- <div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Comparison</div>

    <div class="container"> 
      <div class="row">
        <div class="col"><kpi-sodisfazione1></kpi-sodisfazione1></div>
        <div class="col"><kpi-sodisfazione2></kpi-sodisfazione2></div>
      </div>
      <div class="row">
        <div class="col"><app-kpi-economici1></app-kpi-economici1></div>
        <div class="col"><app-kpi-economici2></app-kpi-economici2></div>

      </div>
      <div class="row">
        <div class="col-md-6"><periodo-comparison1></periodo-comparison1></div>
        <div class="col-md-6"><app-periodo-comparison4></app-periodo-comparison4></div>

      </div>
      <div class="row">
        <div class="col"><periodo-comparison2></periodo-comparison2></div>
        <div class="col"><app-periodo-comparison5></app-periodo-comparison5></div>

      </div>
      <div class="row">
        <div class="col"><periodo-comparison3></periodo-comparison3></div>
        <div class="col"><app-periodo-comparison6></app-periodo-comparison6></div>

      </div>
    </div>
      
      <div class="page__content-data position-absolute text-center">
      </div>
    </div> -->
