<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Comparison</div>
    <div class="page__content shadow p-3 position-relative">

    <div class="container-fluid"> 
      <div class="row">
        <div class="col-md-6"><kpi-sodisfazione1></kpi-sodisfazione1></div>
        <div class="col-md-6"><kpi-sodisfazione2></kpi-sodisfazione2></div>
      </div>
      <div class="row">
        <div class="col-md-6"><app-kpi-economici1></app-kpi-economici1></div>
        <div class="col-md-6"><app-kpi-economici2></app-kpi-economici2></div>

      </div>
      <div class="row">
        <div class="col-md-6"><periodo-comparison1></periodo-comparison1></div>
        <div class="col-md-6"><app-periodo-comparison4></app-periodo-comparison4></div>

      </div>
      <div class="row">
        <div class="col-md-6"><periodo-comparison2></periodo-comparison2></div>
        <div class="col-md-6"><app-periodo-comparison5></app-periodo-comparison5></div>

      </div>
      <div class="row">
        <div class="col-md-6"><periodo-comparison3></periodo-comparison3></div>
        <div class="col-md-6"><app-periodo-comparison6></app-periodo-comparison6></div>

      </div>
    </div>
      
      <div class="page__content-data position-absolute text-center">
        <!-- <app-filter></app-filter> -->
      </div>
    </div>
  </div>