.container{
    width: 100%;
    height: 100px;
}

#smileindexSod1 {
    width: 100%;
    height: 100px;
}
#sodisfazioneSod1 {
    width: 100%;
    height: 100px;
}
#npsSod1 {
    width: 100%;
    height: 100px;
}
#feedbackSod1 {
    width: 100%;
    height: 100px;
}