.container{
    width: 100%;
    height: 250px;
}

#ingressiKpi1 {
    width: 100%;
    height: 100px;
}
#incassoKpi1 {
    width: 100%;
    height: 100px;
}
#scontriniKpi1 {
    width: 100%;
    height: 100px;
}
#scontrinoMedioKpi1 {
    width: 100%;
    height: 100px;
}
#conversionRateKpi1 {
    width: 100%;
    height: 100px;
}
#resaMqKpi1 {
    width: 100%;
    height: 100px;
}