<h3 style="text-align: left;color: black;">Kpi Economici</h3>
<!-- <div id="smileindex"></div>
<div id="sodisfazione"></div>
<div id="nps"></div>
<div id="feedback"></div> -->
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div id="ingressiKpi1"></div>
      </div>
      <div class="col-sm">
        <div id="incassoKpi1"></div>
      </div>
      <div class="col-sm">
        <div id="scontriniKpi1"></div>
      </div>
      
    </div>
    <div class="row">
        <div class="col-sm">
          <div id="scontrinoMedioKpi1"></div>
        </div>
        <div class="col-sm">
          <div id="conversionRateKpi1"></div>
        </div>
        <div class="col-sm">
          <div id="resaMqKpi1"></div>
        </div>
        
      </div>
  </div>


