
<div>
    <h2 style="text-align: left; color: black;">Risultati Periodo</h2>
    <tabset>
      <tab heading="Cx" id="tab1"><div id="cx31"></div> 
      </tab>
      <tab heading="Ingressi"><div id="ingressi31"></div>
      </tab>
      <tab heading="Incasso/Ingressi">  <div id="incassoIngressi31"></div>
      </tab>
      <tab heading="Incasso/Cro" >
         <div id="incassoCro31"></div> 
      </tab>
      <tab heading="ScontrinoMedio" >
          <div id="scontrinoMedio31"></div>
   
      </tab>
      
    </tabset>
  </div>
  
  
   
  