.container{
    width: 100%;
    height: 500px;
}

#cx {
    width: 100%;
    height: 400px;
}

#ingressi {
    width: 100%;
    height: 400px;
}
#incassoIngressi {
    width: 100%;
    height: 400px;
}
#incassoCro {
    width: 100%;
    height: 400px;
}
#scontrinoMedio {
    width: 100%;
    height: 400px;
}

