.container{
    width: 100%;
    height: 500px;
}

#cx31 {
    width: 100%;
    height: 400px;
}

#ingressi31 {
    width: 100%;
    height: 400px;
}
#incassoIngressi31 {
    width: 100%;
    height: 400px;
}
#incassoCro31 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio31 {
    width: 100%;
    height: 400px;
}

