.container{
    width: 100%;
    height: 100px;
}

#smileindex {
    width: 100%;
    height: 100px;
}
#sodisfazione {
    width: 100%;
    height: 100px;
}
#nps {
    width: 100%;
    height: 100px;
}
#feedback {
    width: 100%;
    height: 100px;
}