.container{
    width: 100%;
    height: 500px;
}

#cx11 {
    width: 100%;
    height: 400px;
}

#ingressi11 {
    width: 100%;
    height: 400px;
}
#incassoIngressi11 {
    width: 100%;
    height: 400px;
}
#incassoCro11 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio11 {
    width: 100%;
    height: 400px;
}

