
<div>
    <h2 style="text-align: left;color: black;">Risultati Periodo</h2>
    <tabset>
      <tab heading="Cx" id="tab1"><div id="cx11"></div> 
      </tab>
      <tab heading="Ingressi"><div id="ingressi11"></div>
      </tab>
      <tab heading="Incasso/Ingressi">  <div id="incassoIngressi11"></div>
      </tab>
      <tab heading="Incasso/Cro" >
         <div id="incassoCro11"></div> 
      </tab>
      <tab heading="ScontrinoMedio" >
          <div id="scontrinoMedio11"></div>
   
      </tab>
      
    </tabset>
  </div>
  
  
   
  