
<div>
    <h2 style="text-align: center;">Risultati Periodo</h2>
    <tabset>
      <tab heading="Cx" id="tab1"><div id="cx"></div> 
      </tab>
      <tab heading="Ingressi"><div id="ingressi"></div>
      </tab>
      <tab heading="Incasso/Ingressi">  <div id="incassoIngressi"></div>
      </tab>
      <tab heading="Incasso/Cro" >
         <div id="incassoCro"></div> 
      </tab>
      <tab heading="ScontrinoMedio" >
          <div id="scontrinoMedio"></div>
   
      </tab>
      
    </tabset>
  </div>
  
  
   
  