.container{
    width: 100%;
    height: 500px;
}

#cx51 {
    width: 100%;
    height: 400px;
}

#ingressi51 {
    width: 100%;
    height: 400px;
}
#incassoIngressi51 {
    width: 100%;
    height: 400px;
}
#incassoCro51 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio51 {
    width: 100%;
    height: 400px;
}

