<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Machine Learning</div>
    <!-- <div class="container"> 
      <div class="row">
        <div class="col"><kpi-sodisfazione1></kpi-sodisfazione1></div>
        <div class="col"><kpi-sodisfazione2></kpi-sodisfazione2></div>
      </div>
      <div class="row">
        <div class="col"><app-kpi-economici1></app-kpi-economici1></div>
        <div class="col"><app-kpi-economici2></app-kpi-economici2></div>

      </div>
    </div> -->
    <!-- <div class="page__content shadow p-3 position-relative">
      
      <div class="page__content-data position-absolute text-center">
      

      </div>
    </div> -->

  </div>