<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Analysis</div>
        <div class="container">
            <div class="row ">
                <div class="col-sm-12 border  ">
                    <periodo-container></periodo-container>
                </div>
            </div>
            <!-- <div class="container"> -->
            <div class="row ">
                <div class="col-sm-6 border  ">
                    <media-oraria></media-oraria>
                </div>
                <div class="col-sm-6 border  ">
                    <media-settimanale></media-settimanale>
                </div>
            </div>
        <!-- </div> -->
            <div class="row  border">
                <div class="col-6">
                    <confronto-ingressi></confronto-ingressi>
                </div>
                <div class="col-6">
                    <confronto-contapersone></confronto-contapersone>
                </div>
            </div>      </div>
  </div>
