 <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem="1">
    <button  ngbNavLink>CX</button>
    <ng-template id="cx" ngbNavContent>  
    
    </ng-template>
    
  </li>
  <li ngbNavItem="2">
    <button  ngbNavLink>INGRESSI</button>
    <ng-template id="ingressi" ngbNavContent> 
      ingressi
    </ng-template>
  </li>
  <li ngbNavItem="3">
    <button ngbNavLink>INCASSO</button>
    <ng-template id="incasso" ngbNavContent>
    </ng-template>
  </li>
  <li ngbNavItem="4">
    <button ngbNavLink>SCONTRINO</button>
    <ng-template id="scontrino" ngbNavContent>
    </ng-template>
  </li>
  <li ngbNavItem="5">
    <button ngbNavLink>INCASSO/INGRESSI</button>
    <ng-template id="incassoIngressi" ngbNavContent>
    </ng-template>
  </li>
  <li ngbNavItem="6">
    <button ngbNavLink>INGRESSI/METEO</button>
    <ng-template id="ingressiMeteo" ngbNavContent>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>  -->




<div id="cx"></div> 
<div id="ingressi"></div>
  <div id="incasso"></div>
  <div id="scontrino"></div>
  <div id="incassoIngressi"></div>
  <div id="ingressiMeteo"></div> 