.container{
    width: 100%;
    height: 500px;
}

#cx41 {
    width: 100%;
    height: 400px;
}

#ingressi41 {
    width: 100%;
    height: 400px;
}
#incassoIngressi41 {
    width: 100%;
    height: 400px;
}
#incassoCro41 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio41 {
    width: 100%;
    height: 400px;
}

