.container{
    width: 100%;
    height: 500px;
}

#cx61 {
    width: 100%;
    height: 400px;
}

#ingressi61 {
    width: 100%;
    height: 400px;
}
#incassoIngressi61 {
    width: 100%;
    height: 400px;
}
#incassoCro61 {
    width: 100%;
    height: 400px;
}
#scontrinoMedio61 {
    width: 100%;
    height: 400px;
}

