.container{
    max-width: 100%;
    height: 500px;
}

 #cx3 {
    width: 100%;
    height: 400px;
}

#ingressi3 {
    width: 100%;
    height: 400px;
}
#incasso3 {
    width: 100%;
    height: 400px;
}
#scontrino3 {
    width: 100%;
    height: 400px;
}

#ingressiMeteo3 {
    width: 100%;
    height: 400px;
} 


/* ng-template {
    width: 100%;
    height: 300px;
} */